{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--[if IE 9]>
    <link rel="stylesheet" href="./static/css/ie.css">
    <![endif]-->
    {% block css %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="main">
        <div class="page-header">
            <a class="logo" href="#">
                <img src="{% static 'img/logo.png' %}" alt="光信LOGO">
            </a>
            <div class="page-nav">
                <ul id="nav">
                    <li {% if request.path == "/en/" %}class="active"{% endif %}><a href="{% url 'en_index' %}">Index</a></li>
                    <li {% if request.path|slice:"9" == "/en/about" %}class="active"{% endif %}><a href="{% url 'en_about' %}">About</a></li>
                    <li {% if request.path|slice:"14" == "/en/investment" %}class="active"{% endif %}><a href="{% url 'en_investment' %}">Invest Team</a></li>
                    <li {% if request.path|slice:"17" == "/en/investproject" %}class="active"{% endif %}><a href="{% url 'en_investproject' %}">Invest Project</a></li>
                    <li {% if request.path|slice:"8" == "/en/news" %}class="active"{% endif %}><a href="{% url 'en_news' %}">News</a></li>
                    <li {% if request.path|slice:"11" == "/en/contact" %}class="active"{% endif %}><a href="{% url 'en_contact' %}">Contact</a></li>
                </ul>
            </div>
            <div class="lang">
                <a {% if request.path|slice:"3" == "/en" %}class="active"{% endif %} href="/en/">EN</a><span>|</span><a {% if request.path|slice:"3" != "/en" %}class="active"{% endif %} href="/">中文</a>
            </div>
        </div>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </div>
</div>
<div class="page-footer">
    <p>GuangXin investment management (Beijing) Co., Ltd.</p>
    <p>© 2015 GX Capital, All Rights Reserved.    京ICP备15018348号</p>
</div>
<script src="{% static "js/index.js" %}"></script>
{% block js %}{% endblock %}
</body>
</html>