{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!--[if IE 9]>
    <link rel="stylesheet" href="./static/css/ie.css">
    <![endif]-->
    {% block css %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="main">
        <div class="page-header">
            <a class="logo" href="#">
                <img src="{% static 'img/logo.png' %}" alt="光信LOGO">
            </a>
            <div class="page-nav">
                <ul id="nav">
                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="{% url 'index' %}">首页</a></li>
                    <li {% if request.path|slice:"6" == "/about" %}class="active"{% endif %}><a href="{% url 'about' %}">关于我们</a></li>
                    <li {% if request.path|slice:"11" == "/investment" %}class="active"{% endif %}><a href="{% url 'investment' %}">投资团队</a></li>
                    <li {% if request.path|slice:"14" == "/investproject" %}class="active"{% endif %}><a href="{% url 'investproject' %}">投资项目</a></li>
                    <li {% if request.path|slice:"5" == "/news" %}class="active"{% endif %}><a href="{% url 'news' %}">新闻报道</a></li>
                    <li {% if request.path|slice:"8" == "/contact" %}class="active"{% endif %}><a href="{% url 'contact' %}">联系我们</a></li>
                </ul>
            </div>
            <div class="lang">
                <a {% if request.path|slice:"3" == "/en" %}class="active"{% endif %} href="#">EN</a><span>|</span><a {% if request.path|slice:"3" != "/en" %}class="active"{% endif %} href="#">中文</a>
            </div>
        </div>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </div>
</div>
<div class="page-footer">
    <p>光信投资管理（北京）有限公司</p>
    <p>© 2015 GX Capital, All Rights Reserved.    京ICP备15018348号</p>
</div>
<script src="{% static "js/index.js" %}"></script>
{% block js %}{% endblock %}
</body>
</html>