{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}投资项目-光信投资{% endblock %}

{% block container %}
    <div class="banner">
        <img class="banner-bg" src="{{ MEDIA_URL }}{{ investpro_banner.banner_bg }}" alt="">
        <div class="banner-info">
            <span class="top-line"></span>
            <h1 class="banner-title">{{ investpro_banner.name }}</h1>
            <p class="banner-explain">{{ investpro_banner.explain }}</p>
            <a class="link-bottom" href="#investProject">
                <i class="arrow-down"></i>
            </a>
        </div>
    </div>
    <div id="investProject">
        <div class="invest-pro-top">
            <h2 class="invest-pro-title">投资项目</h2>
            <div class="invest-pro-select" style="display: none;">
                <strong>分类：</strong>
                <a {% ifequal type '' %}class="active"{% endifequal %} href="?type=#investProject">全部</a>
                {% for item in category %}
                    <a {% ifequal type item.id|stringformat:'i' %}class="active"{% endifequal %} href="?type={{ item.id }}#investProject">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
        <ul class="invest-pro-list">
            {% for item in invest_pro %}
            <li class="invest-pro-item">
                <img class="invest-pro-item-bg" src="{{ MEDIA_URL }}{{ item.photo }}" alt="">
                <div class="invest-pro-item-info">
                    <p class="info-url">{{ item.http_url }}</p>
                    <p class="info-explain">{{ item.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}